

<h1>Team Members</h1>


    <% @bios.each do |bio| %>
	<div class="bio">
    
        <div class="biopic"><%= image_tag bio.avatar(:thumb) %> </div><div class="biostory"><h3> <%= bio.name %> </h3>
       <h4><%= bio.position %></h4><%= simple_format(bio.story) %>
        
        <% if current_user %><p><span class="badge"><%= bio.rank %> </span> <%= link_to 'Edit', edit_bio_path(bio) %> | <%= link_to 'Destroy', bio, method: :delete, data: { confirm: 'Are you sure?' } %></p><% end %>
		<hr>
	</div>
</div>
    
    <% end %>
 

<% content_for :rh do %>

<div class="well tips">
<span class="glyphicon glyphicon-info-sign info"></span><h4>Ranking system</h4>
<p>Ranking the team member sets the order in which the team members are displayed, otherwise they would be listed alphabetically. Zero is the highest rank.
	
<p>Spread the ranks out so there is room to insert new members/positions. For example, instead of 1, 2, 3... use 10, 20, 30... so you can add 12 at a later date if you need to.</p>

<p><%= link_to 'Add a new Team Member', new_bio_path, class: "btn btn-default" %>

</div>
<% end %>