<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bio.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @bio.position %>
</p>

<p>
  <strong>Story:</strong>
  <%= @bio.story %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @bio.rank %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
