

<h1>Listing Announcements</h1>

    <%  @announcements.each do |announcement| %>
	<div class="newsitem">
    <h2><%= link_to announcement.title, announcement %></h2>
	<h5><%= announcement.created_at.strftime("%B %d %Y")%> <% if current_user %><%= link_to 'Edit', edit_announcement_path(announcement) %> | <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></h5>
	<%= truncate(strip_tags(announcement.body), :length => 200, :escape => false )%> <%=     
    link_to "read more", announcement 
 %>
        </div>
    
    <% end %>
  
<div class="pagination">
<%= will_paginate @announcements %>
</div>


   



<% content_for :rh do %>
<%= render "/layouts/shop_ad.html.erb" %>

<% if current_user %>


<div class="well">
<span class="glyphicon glyphicon-info-sign info"></span><h4>Add a new Announcement</h4>

<%= link_to 'New Announcement', new_announcement_path, class: 'btn btn-default'%>
</div>
<% end %>
<% end %>