<div class="announcement">
	
	<h1><%= @announcement.title %></h1>

<% if @announcement.avatar_file_name %>
<%= image_tag @announcement.avatar.url(:medium)%>
<% end %>
  <%= simple_format(@announcement.body) %>

	
</div>
<%= link_to 'Back', announcements_path %>


<% content_for :rh do %>



<% @announcements.each do |announce| %>
<% unless announce == @announcement %>
<h3><%= announce.title %></h3>
<p><%= truncate(announce.body, 
  length: 80, 
  separator: ' ', 
  omission: '... ') {     
    link_to "read more", announce 
} %></p>
<% end %>


<% end %>


<% end %>