<div class="announcement">
	
	<h1><%= @announcement.title %></h1>
<p class="right"><% if current_user %><%= link_to 'Edit this Story', edit_announcement_path(@announcement) %><% end %></p>
<% if @announcement.avatar_file_name %>
<%= image_tag @announcement.avatar.url(:medium)%>
<% end %>
  <%= simple_format(@announcement.body) %>

	
</div>
<%= link_to 'Back', announcements_path %>


<% content_for :rh do %>



<% @announcements.each do |announce| %>
<% unless announce == @announcement %>
<h3><%= announce.title %></h3>
<p><%= truncate(strip_tags(announce.body), 
  length: 80, 
  separator: ' ', 
  escape: false,
  omission: '... ') {     
    link_to "read more", announce 
} %></p>
<% end %>


<% end %>


<% end %>


