<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @partner.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @partner.body %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
