<h1>Dashboard</h1>
<p>Manage the site from here</p>

<p><%= link_to 'Manage the News / Events', announcements_path %>
	
<p><%= link_to 'Manage the Products', products_path %>
	
<p><%= link_to 'Manage the programs', programs_path %>
	
<p><%= link_to 'Manage the Staff Biographies', bios_path %>

<p><%= link_to 'Manage the Partners / Projects', partners_path %>

<p><%= link_to 'Manage the Reception email', receptions_path %>
	
<p><%= link_to 'Manage the Gallery', gallery_path %>