<p id="notice"><%= notice %></p>

<h1>Listing Raffleitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticket</th>
      <th>Raffle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raffleitems.each do |raffleitem| %>
      <tr>
        <td><%= raffleitem.name %></td>
        <td><%= raffleitem.ticket %></td>
        <td><%= raffleitem.raffle %></td>
        <td><%= link_to 'Show', raffleitem %></td>
        <td><%= link_to 'Edit', edit_raffleitem_path(raffleitem) %></td>
        <td><%= link_to 'Destroy', raffleitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raffleitem', new_raffleitem_path %>
