<% content_for :head do %>

<script src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAAni8pKxR9BXdkqOrcytoO2RQs5vqwKaex2ImWTBujQplHa4lpyRSN3Vcp7YuyCTu3WlQKd_3sR59wQA" type="text/javascript"></script>

  <script type="text/javascript">
//<![CDATA[
// Google Map Maker script v.1.1
// (c) 2006 Richard Stephenson http://www.donkeymagic.co.uk
// Email: donkeymagic@gmail.com
// http://mapmaker.donkeymagic.co.uk
var map;
var icon0;
var newpoints = new Array();

function addLoadEvent(func) { 
	var oldonload = window.onload; 
	if (typeof window.onload != 'function'){ 
		window.onload = func
	} else { 
		window.onload = function() {
			oldonload();
			func();
		}
	}
}

addLoadEvent(loadMap);
addLoadEvent(addPoints);

function loadMap() {
	map = new GMap2(document.getElementById("map"));
	map.addControl(new GLargeMapControl());
	map.addControl(new GMapTypeControl());
	map.setCenter(new GLatLng( 38.564810956372185, -121.49711608886719), 11);
	map.setMapType(G_NORMAL_MAP);

	icon0 = new GIcon();
	icon0.image = "http://www.google.com/mapfiles/marker.png";
	icon0.shadow = "http://www.google.com/mapfiles/shadow50.png";
	icon0.iconSize = new GSize(20, 34);
	icon0.iconAnchor = new GPoint(9, 34);
	icon0.infoWindowAnchor = new GPoint(9, 2);
}

function addPoints() {

	newpoints[0] = new Array(38.524919, -121.389592, icon0, 'NCCT Sacramento', '9516 Fruitridge Road, Sacramento CA 95826'); 
	newpoints[1] = new Array(38.598468, -121.534785, icon0, 'NCCT West Sacramento', '1290 Carrie Street West Sacramento, CA 95605'); 

	for(var i = 0; i < newpoints.length; i++) {
		var point = new GPoint(newpoints[i][1],newpoints[i][0]);
		var popuphtml = newpoints[i][4] ;
		var marker = createMarker(point,newpoints[i][2],popuphtml);
		map.addOverlay(marker);
	}
}

function createMarker(point, icon, popuphtml) {
	var popuphtml = "<div id=\"popup\">" + popuphtml + "<\/div>";
	var marker = new GMarker(point, icon);
	GEvent.addListener(marker, "click", function() {
		marker.openInfoWindowHtml(popuphtml);
	});
	return marker;
}
//]]>
</script>

<style type="text/css">
#main img {
	padding:0;
	border:0;
	background-color:transparent;
}
</style>

<% end %>


<h1>Contact NCCT</h1>
<div class="smallform">
		<%= bootstrap_form_for @contact, url: {:action=>'send_mail'} do |f| %>
	
		  <%= f.text_field :name %>

		  <%= f.email_field :email %>
	
      	
  			
		  <%= f.text_area :body, label: 'Message', placeholder: 'Your message', rows: '5' %>

      	
  			
		  <%= f.submit 'Submit', class: 'btn btn-default btn-about pull-right'%>
	 

		<% end %>
</div>
<h2>NCCT Locations</h2>
 <div id="map" style="width: 730px; height: 400px; margin:auto; margin-top:20px;padding:30px 5px"></div>

<% content_for :rh do %>
<div class="well">
<h1>Our Offices</h1>


<h3>Sacramento</h3>
<div class="address"><p>8516 Fruitridge Road, Ste O, 
Sacramento, CA 95826.
</div>
<div class="phone">
<p>Phone: 916-387-1564
<br/>Fax: 916-387-1581</div>
<div class="phone"><p><i>Monday - Friday, 7am to 3pm</i></div>

<br/>
<h3>West Sacramento</h3>
<div class="address"><p> 1290 Carrie Street,<br/>
	West Sacramento, CA 95605.</div>
<div class="phone">
<p>	Phone: 916-372-7422
<br/>Fax: 916-372-7416</div>
<div class="phone"><p><i>Monday - Friday, 7am to 3pm</i></div>

	 
</div>
<% end %>

