<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boardmember.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @boardmember.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @boardmember.body %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @boardmember.rank %>
</p>

<%= link_to 'Edit', edit_boardmember_path(@boardmember) %> |
<%= link_to 'Back', boardmembers_path %>
