<h1>
  <%= @product.name %>
</h1>

<h3>Price: $<%= @product.price %></h3>

<h5>Item#<%= @product.item %> <% if current_user %><%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>   <% end %></h5>

<div class="product-image"><%= image_tag @product.avatar.url(:medium)%></div>

<h5>Description:</h5>
  <%= simple_format(@product.description) %>



<%= link_to 'Back', products_path %>


<% content_for :rh do %>

<div class="well">
	<h3>Purchase NCCT products</h3>
	<p>All products are hand crafted and built by our students in each program. We can customize any item to your preference. Cost includes materials!</p>

	<p>Please mail this completed order form and payment to:
		<p><b> NCCT,<br/>
			P.O. Box 293585,
			<br/>Sacramento,<br/>
			CA 95829-3585</b></p>

	<p>Non-Profit: <strong>Tax ID 68-0360766</strong></p>

	<p><%= link_to 'Download an Order Form here', '/downloads/ncct_order_form.pdf', target: "_blank" %></p>
	
</div>

<div class="well">
	<h3>Pay via PayPal</h3>
	<p>You make a payment to NCCT via our PayPal account - just click on the link below</p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="674SE3KU8DCX4">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>

<% end %>